# ydata-profiling

`ydata-profiling` primary goal is to provide a `one-line Exploratory Data Analysis (EDA)` experience in a consistent and fast solution. Like `pandas df.describe()` function, that is so handy, `ydata-profiling` delivers an extended analysis of a DataFrame while allowing the data analysis to be exported in different formats such as `html` and `json`.

The package outputs a simple and digested analysis of a dataset, including `time-series` and `text`.

In [ ]:
# install library
pip install ydata-profiling # ydata-profiling 4.12.2

In [2]:
titanic = sns.load_dataset('titanic')
titanic.sample()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
625,0,1,male,61.0,0,0,32.3208,S,First,man,True,D,Southampton,no,True

In [3]:
titanic = titanic.drop(columns=['alone','alive','embark_town','deck','adult_male','who','class'])
titanic.sample()

     survived  pclass   sex   age  sibsp  parch    fare embarked
305         1       1  male  0.92      1      2  151.55        S

In [4]:
from ydata_profiling import ProfileReport
profile = ProfileReport(titanic, explorative=True)
profile.to_file('titanic.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'Function <code object pandas_auto_compute at 0x0000028C3A398470, file "c:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\model\pandas\correlations_pandas.py", line 167>')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# D-Tale

`D-Tale` is the combination of a `Flask back-end` and a `React front-end` to bring you an easy way to view & analyze `Pandas data structures`. It integrates seamlessly with `ipython notebooks` & `python/ipython terminals`. Currently this tool supports such Pandas objects as DataFrame, Series, MultiIndex, DatetimeIndex & RangeIndex.

### Origins

- `D-Tale` was the product of a SAS to Python conversion. What was originally a perl script wrapper on top of SASâ€™s insight function is now a lightweight web client on top of Pandas data structures.

In [ ]:
# install library
pip install dtale # dtale 3.16.1

In [5]:
import dtale
dtale.show(titanic)

In [31]:
titanic.open_browser() # open in browser